<!--<div class='pic-callout-wrapper'>-->
    <!--<div class='pic-callout'>-->
        <!--<h2>Aneesh Bhoopathy likes making things work for people</h2>-->
    <!--</div>-->
<!--</div>-->

<div class='circle-container'>
    <div class='circle'>
        <h1>Front-end Developer</h1>
        <p>Develop interfaces in HTML, CSS, and JS. Fluent with
        preprocessers, front-end frameworks, and design patterns.</p>
    </div>
    <div class='circle circle2'>
        <h1>Interaction Designer</h1>
        <p>Research user needs, consider on product strategy & branding,
        generate lo-fidelity prototypes and hi-fidelity mockups.</p>
    </div>
</div>
