<div class='page-column12'><h1>Contact</h1> </div>

<div class='contact-page-text'>
    <h3>
        I enjoy making <span class='underline'>things</span> work for <span class='underline'>people</span>.
    </h3>

    <p>
        I'm currently seeking a full-time position in front-end design and
        development! <a href='mailto:aneesh.bhoopathy@gmail.com'>Email me</a>,
        View my shots on <a href='http://dribbble.com/abhoopathy'>Dribbble</a>,
        my code on <a href='https://github.com/abhoopathy?tab=repositories'>GitHub</a>,
        or my photos on <a href='http://www.flickr.com/photos/bhoopathy/'>Flickr</a>.
    </p>
</div>
