<div class='page-column12'><h1>Contact</h1> </div>

<div class='contact-page-text'>
    <h3>
        I enjoy making <span class='underline'>things</span> work for <span class='underline'>people</span>.
    </h3>

    <p>
        I am currently seeking a full-time position in design and development. Let's talk.
    </p>

    <div class='icons-wrapper'>
        <div class='icons-list'>
            <a href='mailto:aneesh.bhoopathy@gmail.com'><i class='icon-email'></i></a>
            <a href='http://dribbble.com/abhoopathy'><i class='icon-dribbble'></i></a>
            <a href='https://github.com/abhoopathy?tab=repositories'><i class='icon-github'></i></a>
            <a href='http://www.flickr.com/photos/bhoopathy/'><i class='icon-flickr'></i></a>
        </div>
    </div>

</div>
