<div class='header-wrapper visible'>
    <header>
        <div class='header-name'><b>Aneesh Bhoopathy</b></div>
        <nav>
            <ul class='nav-list'>
                <li class='nav-list-item'>
                    <a href='#portfolio'>Portfolio</a>
                </li>
                <li class='nav-list-item'>
                    <a href='#resume'>Resume</a>
                </li>
                <li class='nav-list-item'>
                    <a href='#contact'>Contact</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
