<div class='page-column12'>
    <h1>Portfolio</h1>
</div>

<aside class='sidebar-list-wrapper page-column2'>

    <ul class='sidebar-list'>

        <li class='sidebar-list-item'>
            <b>Academic Work</b>
            <ul class='sidebar-sub-list'>
                {% for post in site.tags.academic %}
                    <li class='sidebar-sub-list-item' id="portfolio-link-{{ post.uid }}">
                        <a href='#portfolio-piece-{{ post.uid }}'>{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>

        <li class='sidebar-list-item'>
            <b>Industry Work</b>
            <ul class='sidebar-sub-list'>
                {% for post in site.tags.industry %}
                    <li class='sidebar-sub-list-item' id="portfolio-link-{{ post.uid }}">
                        <a href='#portfolio-piece-{{ post.uid }}'>{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>

        <!--<li class='sidebar-list-item'>-->
            <!--<b>Experiments & Hackathons</b>-->
            <!--<ul class='sidebar-sub-list'>-->
                <!--<li class='sidebar-sub-list-item'>-->
                    <!--<a href='#yincam'>Project</a>-->
                <!--</li>-->
                <!--<li class='sidebar-sub-list-item'>-->
                    <!--<a href='#yincam'>Project</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->

    </ul>
</aside>

<div class='portfolio-pieces page-column10'>


    {% for post in site.tags.academic %}
        <div class='portfolio-piece' id="portfolio-piece-{{ post.uid }}">
            <h2>{{ post.title }}</h2>
            <p class='tagline'>{{ post.tagline }}</p>
            {{ post.content }}
        </div>
    {% endfor %}

    {% for post in site.tags.industry %}
        <div class='portfolio-piece' id="portfolio-piece-{{ post.uid }}">
            <h2>{{ post.title }}</h2>
            <p class='tagline'>{{ post.tagline }}</p>
            {{ post.content }}
        </div>
    {% endfor %}

</div>
