.sidebar-list
    a
        text-decoration none
        &.active:before
            content '> '
            position absolute
            left 0

.sidebar-list-item
    v-spacing(1.5em)

.sidebar-sub-list
    margin-left 1em

.sidebar-sub-list-item
    line-height 1.1em
    margin-top .5em

