$top-bar-size= 50px

.rel-container
    display block
    position relative
    height 70px

.header-wrapper
    z-index 999
    position absolute
    top 0
    width 100%
    z-index 999
    background-color $top-bar-color
    color $top-bar-text-color
    padding-top 20px
    padding-bottom 20px
    &.fixed
        position fixed

.header-name
    line-height $top-bar-size
    float left
    margin-right 20px

    &:after
        color darken(white,60%)
        float right
        line-height $top-bar-size
        content '>'
        margin 0 20px 0 20px

/* top navigation */
nav
    float left
    overflow hidden

$nav-indicator-size= 3px
/*.nav-list
    -webkit-transform translate3d(-400px,0,0)
    -webkit-transition -webkit-transform 0.15s linear
    clear both*/

.nav-list-item
    //padding 5px
    line-height $top-bar-size
    position relative
    h-spacing(20px)

    a
        text-decoration none
        color $top-bar-text-color
        border-bottom $nav-indicator-size solid transparent
        &:hover
            color $secondary-text-color
        &.active
            border-bottom $nav-indicator-size solid $nav-indicator-color
            color $nav-indicator-color
            &:hover
                color $nav-indicator-color
