.portfolio-piece
    position relative
    border-top 1px solid $line-color
    padding-top 1em
    padding-bottom 4em
    &:first-child
        margin-top 0

.portfolio-img
    width 90%
    margin 1.6em auto 0.2em auto
    //border 1px solid $line-color
    display block

    &.no-stretch
        width auto
        max-width 90%

for i in 2 3 4 5
    .img-box-{i}
        clearfix()
        width 90%
        margin 1.6em auto 0.2em auto
        .portfolio-img
            float left
            width (95%/i)
            //border none
            $ibx-img-margin = (5%/(i+1))
            margin 0 0 0 $ibx-img-margin
            &:first-child
                margin-left $ibx-img-margin

.img-caption
    position relative
    width 90%
    margin -0.3em auto 1.5em auto
    font-size .8em
    background lighten($line-color,20%)
    padding .5em
