@import '_assets/stylesheets/nib/gradients'

/*
$gradient-blue=darken(#6dd1e3,0%)
$gradient-green=#70dcc9
$gradient-yellow=#8cd4c4
.header-gradient
    display none
    position absolute
    height 200%
    width 200%
    background: linear-gradient( bottom right,
        $gradient-yellow, $gradient-blue, $gradient-green, $gradient-yellow, $gradient-blue, $gradient-green, $gradient-yellow
        )
    -webkit-animation: bannermove 8s linear infinite;

//TODO: mozkit
@-webkit-keyframes bannermove
    0% {
        top 0
        left 0
    }
    100% {
        top -100%
        left -100%
    }*/
