*
    box-sizing: border-box

body
    background-color $background-color

button
    background-color $button-color
    border none
    padding 1em 1.5em
    color $button-text-color
    text-transform uppercase
    border-radius 5px
    text-shadow 0px 1px darken($button-color,20%)
    font-family: 'deliciousbold'
    &:hover
        background-color lighten($button-color,10%)

a, a:link, a:visited, a:active
    color $secondary-text-color
    &:hover
        color lighten($secondary-text-color,20%)
    &.active
        color $nav-indicator-color
        &:hover
            color $nav-indicator-color
