$text-color           = #344340
$secondary-text-color = #198f78
$top-bar-color = #01100D


$background-color     = white//darken(white, 5%)
$container-color      = white
$line-color           = lighten(#b9c5c2,30%)

$nav-indicator-color  = #f2718f

$button-color         = $nav-indicator-color
$button-text-color    = white
