$text-color           = lighten(#344340,10%)
$secondary-text-color = #198f78
$nav-indicator-color  = #f2718f

$top-bar-color        = #01100D
$top-bar-text-color   = white

$background-color     = white//darken(white, 5%)
$line-color           = lighten(#b9c5c2,30%)

$button-color         = $nav-indicator-color
$button-text-color    = white

/* RED */
//$text-color           = #313237
//$secondary-text-color = #888380
//$nav-indicator-color  = #3A6D9C

//$top-bar-color        = #313237
//$top-bar-text-color   = #ede3db

//$background-color     = #ede3db
//$line-color           = lighten($text-color, 50%)

//$button-color         = #ff4847
//$button-text-color    = #ede3db
