grey-scale()
    filter url("dataimage/svg+xmlutf8,<svg%20xmlns='http//www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale") /* Firefox 3.5+ */
    filter gray /* IE6+ */
    filter grayscale(100%) /* Current draft standard */
    -webkit-filter grayscale(100%) /* New WebKit */
    -moz-filter grayscale(100%)
    -ms-filter grayscale(100%)
    -o-filter grayscale(100%)

clear-grey-scale()
    filter none
    -webkit-filter grayscale(0)
    -moz-filter grayscale(0)
    -ms-filter grayscale(0)
    -o-filter grayscale(0)


.contact-page-text p
    margin-top .5em
.icons-wrapper
    margin-top .7em
    text-align center

.icons-list
    list-style none
    margin 0 auto
    display inline-block
    overflow hidden

    a
        padding 5px
        border-radius 3px
        display inline-block
        background-color darken(white,5%)
        grey-scale()
        &:hover
            background-color darken(white,10%)
            clear-grey-scale()

i
    display block
    background-image url('images/sprites.png')
    background-size 64px
    height 32px
    width 32px

.icon-github
    background-position 0 0
.icon-email
    background-position 32px 32px
.icon-dribbble
    background-position 32px 0
.icon-flickr
    background-position 0 32px
