/* variables */

columns= 12
column-width= 60px
gutter-width= 20px
total-width= 960px
$container-side-padding=25px

header
    width total-width - gutter-width
    margin auto

.page-wrapper
    display block

// modernizr fixed?
.page-anchor
    position absolute
    top 0
.page
    position relative
    width 960px + 2 * $container-side-padding
    padding 20px $container-side-padding 100px $container-side-padding
    margin 80px auto 0 auto
    clearfix()
.pg-static
    position static

.border-bottom
    border-bottom 1px solid $line-color
.center-text
    text-align center
.m-top-20
    margin-top 20px
.page-column2
    column 3
.page-column4
    column 4
.page-column8
    column 8
.page-column12
    column 12
.page-column10
    column 9
.h-rule-12
    column 12
    height 1px
    border-bottom 1px solid $line-color
    margin-top 10px
    margin-bottom 25px

/* special styling portfolio, because of sidebar*/
.sidebar-list-wrapper
    position absolute
    top 120px
    left 30px
    &.fixed
        position fixed
.portfolio-pieces
    push(3)


@media (max-width: 960px)

    header
        width 100%
        margin-left 0
        left 0
    .callout-image
        display none

    .page
        width 100%
        position static
    .page-column2, .page-column4, .page-column8, .page-column12, .page-column10
        width 100%
        margin-left 0
        margin-right 0
    .sidebar-list-wrapper
        display none
    .portfolio-pieces
        width 100%
        margin-left 0
        margin-right 0

