/* variables */

columns= 12
column-width= 60px
gutter-width= 20px
total-width= 960px
$container-side-padding=25px

header
    width total-width - gutter-width
    margin auto

.page-wrapper
    display block

.page
    width 960px + 2 * $container-side-padding
    padding 100px $container-side-padding 100px $container-side-padding
    margin auto
    clearfix()

.rel-container
    display block
    position relative
.border-top
    border-top 1px solid $line-color
.center-text
    text-align center
.m-top-20
    margin-top 20px
.page-column2
    column 3
.page-column4
    column 4
.page-column8
    column 8
.page-column12
    column 12
.page-column10
    column 9
.h-rule-12
    column 12
    height 1px
    border-bottom 1px solid $line-color
    margin-top 10px
    margin-bottom 25px

/* special styling portfolio, because of sidebar*/
.page#portfolio
    position relative
.sidebar-list-wrapper
    position absolute
    top 216px
    left gutter-width
    &.fixed
        position fixed
.portfolio-pieces
    push(3)


@media only screen and (max-width: 960px)

    header
        width 100%
        margin-left 0
        left 0

    .container
        width 100%

    .page-column2.page-column4, .page-column8, .page-column12, .page-column10
        width 100%
        margin-left 0
        margin-right 0

    .page#portfolio
        position static

        .sidebar-list-wrapper
            display none
            visibility hidden

            &.fixed
                display none
                visibility hidden

        .portfolio-pieces
            width 100%
            margin-left 0
            margin-right 0

