<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <meta content='' name='description'>
        <meta content='width=device-width, initial-scale=1' name='viewport'>
        <link href='/favicon.ico' rel='shortcut icon'>
        {% css_asset_tag global %}
        - /_assets/stylesheets/normalize.css
        - /_assets/stylesheets/main.styl
        {% endcss_asset_tag %}
    </head>

    <body>

        {{ content }}

        {% javascript_asset_tag global %}
        - /_assets/scripts/vendor/modernizr-2.6.2.min.js
        - /_assets/scripts/vendor/jquery-1.9.0.min.js
        - /_assets/scripts/vendor/underscore-min.js
        - /_assets/scripts/vendor/backbone.js
        - /_assets/scripts/main.coffee
        {% endjavascript_asset_tag %}

    </body>
</html>
